/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

/* img {
    display: block;
} */

/* div {
    margin: auto;
} */

.profile {
    display: flex;
    margin: auto;
    width: 50%;
}

.profile-image {
    border: 15px solid green;
    border-radius: 50%;
    overflow: hidden;
}

.profile-user-settings {
    display: flex;
}

li {
    display: inline;
}
