/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

/* div {
    margin: auto;
} */

.profile {
    display: flex;
    margin: 50px auto;
    width: 50%;
}

.profile-image {
    border: 15px solid green;
    border-radius: 50%;
    overflow: hidden;
}

.profile-user-settings {
    display: flex;
    margin: 20px 20px;
}

.profile-user-name {
    font-weight: lighter;
    margin: 20px;
}

.profile-edit-btn {
    height: 20px;
    margin: 22px 0;
}

.profile-settings-btn {
    border: none;
    width: 40px;
    background-color: inherit;
    margin: 0;
    padding: 1px;
}

.profile-stats {    
    font-size: 1.25rem;
    margin: 50px 30px;
}

li {
    display: inline;
    margin: 0 5px;
}

.profile-stat-count {
    font-weight: bold;
}

.profile-bio {
    font-size: 1.125rem;
    margin: 50px 30px;
}

.profile-real-name {
    font-weight: bold;
}