/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* div {
    margin: auto;
} */

.profile {
    display: flex;
    margin: 50px auto;
    width: 50%;
}

.profile-image {
    border: 15px solid green;
    border-radius: 50%;
    overflow: hidden;
}

.profile-user-settings {
    display: flex;
    margin: 20px 20px;
}

.profile-user-name {
    font-weight: lighter;
    margin: 20px;
}

.profile-edit-btn {
    height: 20px;
    margin: 22px 0;
}

.profile-settings-btn {
    border: none;
    width: 40px;
    background-color: inherit;
    margin: 0;
    padding: 1px;
}

.profile-stats {    
    font-size: 1.25rem;
    margin: 50px 30px;
}

li {
    display: inline;
    margin: 0 5px;
}

.profile-stat-count {
    font-weight: bold;
}

.profile-bio {
    font-size: 1.125rem;
    margin: 50px 30px;
}

.profile-real-name {
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    height: 200px;
    margin: 50px auto;
    width: 50%; 
}

.gallery-item {
    margin: 20px;
    position: relative;
}

.gallery-item-info {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    align-content: center;
  }

  .gallery-item:hover .gallery-item-info{
    opacity: 1;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid grey;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }